*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #131517;

}
.logo{
    margin-left: 40%;
    margin-top: 1%;
}
input:disabled {
    font-family: 'Open Sans', sans-serif;
    background: rgb(182, 180, 180);
    color: #0c0c0c;
}
.Main-part, .Display-part, .Alarms-part{
    font-family: 'Open Sans', sans-serif;
    border-bottom: 3px solid #6023E2;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 40px;
    color: #fff;
}
.Main-part{
    width: 90px;
}
.Display-part{
    width: 210px;
    margin-top: 40px;
}
.Alarms-part{
    width: 120px;
    margin-top: 150px;

}
#Main_Info, #Tokens_Selector_Section, #Alarms_Settings{
    font-family: 'Open Sans', sans-serif;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
}
footer {
    font-family: sans-serif;
}

select {
    margin-left: 25px;
    font-size: .9rem;
    padding: 2px 5px;
}

footer {
    font-size: .8rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
}
#APIHash_Section, #Tokens_Selector_Section{
    margin-top: 10px;
}
#APIHash_Window{
    font-size: 15px;
    width: 223px
}
#Add_Token_btn{
    display:inline-block;
    margin-left: 10px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    background-color: #6023E2;
    border: none;
    color:#fff;
};
#additional_info, .DisplayInfo{
    width:50%;
    height:100px;
    margin:10px;
}
#Tokens_Selector{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: black;
}
#additional_info{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px; 
    color: #fff;
}
#token_info{
    margin-top: 8px;
}
#token_logo{
    display: inline;
    margin-left: 140px;
}
#token_price{
    font-family: 'Open Sans', sans-serif;
    display: inline;
    margin-top: 50px;
    font-size: 20px;
}
#Add_Token_btn{
    margin-top: 12px;
    margin-left: 220px;
}
#table, #alarm_table{
    text-align: center;
    display: inline;
    float: right;
    width: 330px;
    margin-right: 20px;
}
.table_button{
    color: #fff;
    padding: 0;
    border: none;
    background: none;
    width: 30px;
    height: 30px;
    background-color: #6023E2;
    margin-right: 10px;
}
td{
    border-style : hidden!important;
}
#alarms_name{
    width: 210px;
    font-size: 15px;
    padding: 3px;
    color: black; 
    font-family: 'Open Sans', sans-serif;
}
#alarms_time{
    margin-left: 10px;
    height: 30px;
}
#Set_Alarm_Btn{
    border: none;
    margin-left: 230px;
    background-color: #6023E2;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
#SaveChangesBtn, #ResetChangesBtn{
    border: none;
    background-color: #6023E2;
    font-family: 'Open Sans', sans-serif;
    float: right;
    font-size: 22px;
    margin-right: 45px;
    margin-bottom: 30px;
}
#ResetChangesBtn{
    background-color: gray;
}
.modal-content{
    background-color: #252e38;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}
#Error_pass_title {
    color: red;
}

#Error_pass_text_Main{
    margin: 0px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: red;
}